<header>
  	<div class="top">
		<div class="container">
			<nav class="nav-top">
				<a href="#">Blog</a>
				<a href="#">Sklep</a>
				<a href="#">Aktualności</a>
			</nav>

			<div class="right-links">
				<div class="account">
					<a href="#">
						<i class="fas fa-sign-in-alt"></i> Register
					</a>
					<a href="#">
						<i class="far fa-user"></i> Login
					</a>
				</div>
				<div class="social">
					<a href="#">
						<i class="fab fa-facebook"></i>
					</a>
					<a href="#">
						<i class="fab fa-instagram"></i>
					</a>
				</div>
				<div class="lang">
					<a href="#">PL</a>
					<a href="#">EN</a>
				</div>
			</div>
		</div>
	</div>

	<div class="bottom">
		<div class="container">
			<a class="logo" href="#">
				<img src="" alt="">
			</a>

			<nav class="main-menu">
				<a href="#">Home</a>
				<a href="#">Auctions</a>
				<a href="#">Payment</a>
				<a href="#">Shipping</a>
				<a href="#">F.A.Q.</a>
				<a href="#">Contact</a>
			</nav>
		</div>
	</div>
</header>