<footer>
  <div class="container">
    <div class="column">
      <h2>Przydatne linki</h2>

      <ul>
        <li>Links 1</li>
        <li>Links 1</li>
        <li>Links 1</li>
        <li>Links 1</li>
        <li>Links 1</li>
        <li>Links 1</li>
        <li>Links 1</li>
        <li>Links 1</li>
      </ul>
    </div>
    <div class="column">
      <h2>Pomoc</h2>

      <ul>
        <li>Links 1</li>
        <li>Links 1</li>
        <li>Links 1</li>
        <li>Links 1</li>
        <li>Links 1</li>
        <li>Links 1</li>
        <li>Links 1</li>
        <li>Links 1</li>
      </ul>
    </div>
    <div class="column">
      <h2>Social media</h2>

      <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs&width=340&height=130&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId=108067372665193" width="340" height="130" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    </div>
  </div>
</footer>