@import '../../styles.scss';

.recommended-auction {
    margin-bottom: 40px;
    margin-top: 40px;
    .boxhead {
        border-bottom: 1px solid $bdColor;
        h3 {
            font-size: 18px;
            line-height: 30px;
            font-weight: 700;
            color: $blue;
        }
    }
    .products-list {
        padding: 20px 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        > * {
            width: 25%;
        }
    }
    .bottom-recommended-auction {
        text-align: right;
    }
}